# Екзамен Дровольського Ярослава, ІПС-42
## (частина 1)

Імпортуємо бібліотеку Pandas

In [2]:
import pandas as pd

Далі було завантажено набір даних про оцінки студентів на іспитах за [посиланням](https://www.kaggle.com/datasets/desalegngeb/students-exam-scores)

Читаємо CSV-файл у DataFrame:

In [3]:
df = pd.read_csv('Expanded_data_with_more_features.csv')

Подивимося на загальний вигляд таблиці.

In [4]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

### Задачі

#### №1
Скільки студентів і студенток у наборі даних?

In [20]:
number_of_students = df[(df.Gender == 'male') | (df.Gender == 'female')]['Gender'].count()

print(f"Number of students: {number_of_students}")

Number of students: 30641

#### №2
Який відсоток студентів чоловічої статі в наборі даних?

In [16]:
number_of_males = df[(df.Gender == 'male')]['Gender'].count()
percentage_of_males = (number_of_males / number_of_students) * 100

print(f"Males: {percentage_of_males} %")

Males: 49.6622172905584 %

#### №3
Який відсоток студенток у наборі даних?

In [21]:
number_of_females = df[(df.Gender == 'female')]['Gender'].count()
percentage_of_females = (number_of_females / number_of_students) * 100

print(f"Females: {percentage_of_females} %")

Females: 50.337782709441605 %

#### №4
Яка етнічна група має найвищий середній бал з математики?

In [39]:
math_score_for_ethnic_groups = df.groupby('EthnicGroup')['MathScore'].mean() # take mean math score for each ethnic group

math_score_for_ethnic_groups

EthnicGroup
group A    62.991888
group B    63.490216
group C    64.695723
group D    67.666400
group E    75.298936
Name: MathScore, dtype: float64

In [38]:
math_score_idxmax = math_score_for_ethnic_groups.idxmax() # get ethnic group with max mean math score
math_score_max = math_score_for_ethnic_groups.at[math_score_idxmax] # take max math score

print(f"Max mean math score is {math_score_max} for this ethnic group: {math_score_idxmax}")

Max mean math score is 75.29893590695373 for this ethnic group: group E

#### №5
Яка етнічна група має найвищий середній бал читання?

In [40]:
reading_score_for_ethnic_groups = df.groupby('EthnicGroup')['ReadingScore'].mean() # take mean reading score for each ethnic group

reading_score_for_ethnic_groups

EthnicGroup
group A    66.787742
group B    67.320460
group C    68.438233
group D    70.382247
group E    74.251423
Name: ReadingScore, dtype: float64

In [41]:
reading_score_idxmax = reading_score_for_ethnic_groups.idxmax() # get ethnic group with max mean reading score
reading_score_max = reading_score_for_ethnic_groups.at[reading_score_idxmax]

print(f"Max mean reading score is {reading_score_max} for this ethnic group: {reading_score_idxmax}")

Max mean reading score is 74.25142291512002 for this ethnic group: group E

#### №6
Яка етнічна група має найвищий середній бал з письма?

In [42]:
writing_score_for_ethnic_groups = df.groupby('EthnicGroup')['WritingScore'].mean() # take mean reading score for each ethnic group

writing_score_for_ethnic_groups

EthnicGroup
group A    65.251915
group B    65.895125
group C    66.999240
group D    70.890844
group E    72.677060
Name: WritingScore, dtype: float64

In [43]:
writing_score_idxmax = writing_score_for_ethnic_groups.idxmax() # get ethnic group with max mean writing score
writing_score_max = writing_score_for_ethnic_groups.at[writing_score_idxmax]

print(f"Max mean reading score is {writing_score_max} for this ethnic group: {writing_score_idxmax}")

Max mean reading score is 72.67706013363029 for this ethnic group: group E

#### №7
Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [50]:
df[df.TestPrep == 'completed']['MathScore'].mean()

69.5466599698644

#### №8
Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [49]:
df[df.TestPrep == 'completed']['ReadingScore'].mean()

73.73299849321948

#### №9
Який середній бал [*з письма*] для студентів, які закінчили курс підготовки до тесту?

In [48]:
df[df.TestPrep == 'completed']['WritingScore'].mean()

74.70326469111

#### №10
Скільки студентів мають одружених батьків?

In [57]:
number_of_married_parents = df[df.ParentMaritalStatus == 'married']['Gender'].count()
percentage_of_married_parents = (number_of_married_parents / number_of_students) * 100

print(f"{number_of_married_parents} parents is married, which is {percentage_of_married_parents} %")

16844 parents is married, which is 54.97209621095918 %

#### №11
Скільки студентів мають батьків-одинаків?

In [58]:
number_of_single_parents = df[df.ParentMaritalStatus == 'single']['Gender'].count()
percentage_of_single_parents = (number_of_single_parents / number_of_students) * 100

print(f"{number_of_single_parents} parents is single, which is {percentage_of_single_parents} %")

7097 parents is single, which is 23.16177670441565 %

#### №12
Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?

In [69]:
mean_math_score_regular_sport_students = df[df.PracticeSport == 'regularly']['MathScore'].mean()
mean_math_score_never_sport_students = df[df.PracticeSport == 'never']['MathScore'].mean()

regular_sport_higher_math_than_never_sport = (mean_math_score_regular_sport_students > mean_math_score_never_sport_students)

print("Regular sports students have higher mean math results than never sports students? " + str(regular_sport_higher_math_than_never_sport))

Regular sports students have higher mean math results than never sports students? True

#### №13
Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [70]:
mean_reading_score_regular_sport_students = df[df.PracticeSport == 'regularly']['ReadingScore'].mean()
mean_reading_score_never_sport_students = df[df.PracticeSport == 'never']['ReadingScore'].mean()

regular_sport_higher_reading_than_never_sport = (mean_reading_score_regular_sport_students > mean_reading_score_never_sport_students)

print("Regular sports students have higher mean reading results than never sports students? " + str(regular_sport_higher_reading_than_never_sport))

Regular sports students have higher mean reading results than never sports students? True

#### №14
Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [72]:
number_of_schoolbus_students = df[df.TransportMeans == 'school_bus']['Gender'].count()
percentage_of_schoolbus_students = (number_of_schoolbus_students / number_of_students) * 100

print(f"{number_of_schoolbus_students} students use schoolbus, which is {percentage_of_schoolbus_students} %")

16145 students use schoolbus, which is 52.69083907183186 %

#### №15
Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [73]:
number_of_private_transport_students = df[df.TransportMeans == 'private']['Gender'].count()
percentage_of_private_transport_students = (number_of_private_transport_students / number_of_students) * 100

print(f"{number_of_private_transport_students} students use private transport, which is {percentage_of_private_transport_students} %")

11362 students use private transport, which is 37.08103521425541 %